
body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container{
    background:linear-gradient(to bottom, rgb(86, 130, 196),rgb(7, 96, 185)) ;

}

#navigation {
    margin-top: 0px;
    display: flex;                     
    justify-content: space-between;     
    align-items: center;                 
    padding: 0.8px 0.4rem;                          
    width: 100%;  
    height: 7rem;                      
    margin-bottom: 0rem;   
    margin-bottom: 3rem;       
  

    border-top: none;
   
}

#navigation a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 0rem 1rem;


}
#navigation h2,
#navigation h3{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#navigation a:hover{
    color: rgb(176, 61, 122);
    text-decoration: underline;
}

#navigation p{
    font-size: 30px;
    color: rgb(60, 104, 154);
    font-weight: bolder;
    animation: pulseColor 2s infinite ease-in-out;
}



@keyframes pulseColor {
    0% { color: rgb(220, 126, 126); }
    50% { color: rgb(197, 126, 32); } 
    100% { color: rgb(219, 38, 28); }
}

.about-us{
    margin-right: 20px;
}
.home-page{
    margin-left: 20px;
}


#welcome{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding-left: 5px;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    margin-bottom: 30px;


}
#welcome header{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
#welcome img {
    transform: rotate(6deg);
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 1px;
    border-width: 4px;
    margin-left: 5rem;
    margin-right: 5rem;
}

#welcome h1{
    margin-bottom: 0px;
     margin-left: 3rem;

}

#welcome h4{
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 5rem;
    margin-left: 5rem;
}
#welcome p{
    font-size: 20px;
    color: white;
    font-style: bold;
    border-style: groove;
    transition: transform 0.5s ease;
    border-width: 1px;
    width: 840px;
    padding: 6px;
}
#welcome p:hover{
    transform: scale(1.1,1.5);
    background-color: rgb(5, 74, 127);
    color: white;
}

#services{
    display: flex;
    padding: 3rem;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    background:linear-gradient(to left, rgb(123, 138, 221),rgb(26, 136, 210)) ;
 
}
#services{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 74rem;
    align-items: center;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 1px rgba(0,0,0, 0.3);
    margin-bottom: 30px;
    transition: transform 0.5s ease;
}
.box-inside-services{
    margin-top: 0;
    width: 25%;
    max-width: 150px;
    background: white;
    font-size: 22px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.6);
    border-radius: 10px;
    transition: transform 0.5s ease;
    padding: 4px 3px 3px 4px;
}

.box-inside-services:hover{
    transform: scale(1.3,1.3);
    background-color: rgb(104, 59, 228);
    color: white;
}

#thank-you{
    font-size: 40px;
    background: linear-gradient(to right,rgba(114, 138, 205, 0.77), rgb(87, 70, 212));
    text-align: center;
    height: 300px;
    vertical-align: middle;
    margin-top: 0px;
    padding-top: 50px;
    border-radius: 5px;
    width: 100%;
}

/* smooth background */
@keyframes subtleBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* text on-off animation */
#thank-you-text {
    animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%   { opacity: 0; }
    40%  { opacity: 1; }
    60%  { opacity: 1; }
    100% { opacity: 0; }
}



#order-container{
    font-size: 40px;
    text-align: center;
    margin:0 auto;
    border-style: solid;
    border-radius: 15px;
    width: 30%;
    background-color: rgb(174, 173, 173);
   
}

#order-container:hover{
    background-color: beige;
}
#order-container a{
    text-decoration: none;
    display: inline-block;
}

#order-container a:hover{
    color: rgb(232, 94, 25);
}
#order-container p{
    display: inline-block;
    margin: 0;
    padding: 0;
