h1{
    font-size: 40px;

    background-color: white;
    box-shadow: 1px 3px 2px rgba(0,0,0,0.3);
    padding: 30px 30px;
    border-radius: 5px;
    max-width: 600px;
    color: #3f3e3e;
}

h3{
    font-size: 30px;
    font-weight: bold;
    color: #686565;
    letter-spacing: 0.5px;
    text-shadow: 3px 3px 2px rgba(117, 93, 208, 0.3);
    margin-left: 30px;
}

.form-control input{
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(194, 193, 193);
    display: block;
  
}
.form-control input:focus{
    border-color: rgb(33, 93, 206);
    outline: none;
    background-color: #f4eeff;
}
.form-control label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin: 5px auto;
}
.form-control{
  margin-left: 30px;
}
/* button{
    background-color: rgb(10, 72, 96);
    color: white;
    padding: 10px 10px;
    margin-left: 30px;
    margin-top: 20px;
} */


button {
    background-color: rgb(9, 143, 196);
    color: white;
    padding: 10px 20px; 
    margin-left: 30px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: rgb(116, 164, 183);
    transform: scale(1.05);
}
button:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}